BERT_MODEL_DIR=fowoco/klue-roberta-base-intent-classifier
AX_BASE_MODEL_NAME=skt/A.X-4.0-Light
AX_ADAPTER_PATH=fowoco/ax-intent-qlora
HF_TOKEN=
MARGIN_THRESHOLD=0.76
MAX_TRAINED_LABELS=3
LABEL_PROB_THRESHOLD=0.55
MAX_INPUT_LENGTH=150
AX_MAX_NEW_TOKENS=96
DEVICE=auto
ENABLE_AX=True